# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Local environment / secrets
.env

# Sensitive local data
data/login.json
data/datoscompras.json
data/recepciones_compras.json
data/mercadolibre.json

# Optional local IDE/system files
.vscode/
.DS_Store
Thumbs.db
